@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
}
/* nav bar */
.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  border-bottom: 2px gray solid;
}
.logo {
  color: #1653ef;
  font-size: 30px;
}
.nav__right > ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.nav__right > ul > li > a {
  color: #1653ef;
  padding: 8rem;
}
.btn {
  background-color: #1653ef;
  color: white;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}

/* landing */
.landing__page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}
.landing__page > span > h2 {
  color: #1653ef;
  font-size: 5rem;
}
.landing__page > span {
  font-family: sans-serif;
  font-size: 5rem;
}
.home_image {
  width: 100%;
  height: auto;
  object-fit: contain;
}
/* login and signup */
.login_container {
  margin: 3% auto;
  width: 30%;
  padding: 20px;
  border: 1px gray solid;
}
.login_container > h2 {
  text-align: center;
  font-size: 42px;
  margin-bottom: 10px;
  color: #061c53;
}
.login_container > form {
  /* background-color: #1653EF; */
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
}
.login_container > form > label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login_container > form > label > span {
  color: #1653ef;
  font-size: 36px;
}
input {
  width: 100%;
  padding: 12px 20px;
  font-size: large;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: rgb(240, 240, 253);
  border-radius: 10px;
}
/* errors */
.success {
  color: #04ad1a;
  background: #e4fde7;
  border-radius: 8;
  border: 1px solid #04ad1a;
  align-items: center;
  padding: 10px;
}
.success > h2{
    text-align: center;
}
.error {
  background-color: red;
}
/* loader */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgb(239, 239, 240);
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
